<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>表格</title>
</head>
<body>
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css">
<style>
    #divMain {
        width: 500px;
        margin: 0 auto;
        margin-top: 100px;
    }
    nav {
        position: relative;
        width:100%;
        height: 50px;
    }
    .pagination {
        right: 0px;
        position: absolute;
        top: -30px;
    }
    nav li {
        cursor: pointer;
    }
    .divData{
        margin-top:20px;
        border-bottom:1px solid #ccc;
    }
</style>
<div id="divMain" ng-app="myApp" ng-controller="myCtrl">

    <div class="divData">
        <div>全选 : <input type="checkbox" ng-model="selectAll1" ng-click="all(items,1)"></div>
        <div ng-repeat="x in items1">
            <span>{{ $index + 1 }}</span>
            <span ng-bind="x.id"></span>
            <span ng-bind="x.name"></span>
            <span ng-bind="x.sex"></span>
            <span ng-bind="x.age"></span>
            <span><input type="checkbox" ng-checked="selectAll1" ng-model="x.state"></span>
        </div>
    </div>
    <div class="divData">
        <div>全选 : <input type="checkbox" ng-model="selectAll2" ng-click="all(items,2)"></div>
        <div ng-repeat="x in items2">
            <span>{{ $index + 1 }}</span>
            <span ng-bind="x.id"></span>
            <span ng-bind="x.name"></span>
            <span ng-bind="x.sex"></span>
            <span ng-bind="x.age"></span>
            <span><input type="checkbox" ng-checked="selectAll2" ng-model="x.state"></span>
        </div>
    </div>
    <div class="divData">
        <div>全选 : <input type="checkbox" ng-model="selectAll3" ng-click="all(items,3)"></div>
        <div ng-repeat="x in items3">
            <span>{{ $index + 1 }}</span>
            <span ng-bind="x.id"></span>
            <span ng-bind="x.name"></span>
            <span ng-bind="x.sex"></span>
            <span ng-bind="x.age"></span>
            <span><input type="checkbox" ng-checked="selectAll3" ng-model="x.state"></span>
        </div>
    </div>

    <div class="divData">
        <div ng-repeat="item in items | limitTo: 4">
            <p>....</p>
        </div>
    </div>

</div>
<script src="http://apps.bdimg.com/libs/angular.js/1.5.0-beta.0/angular.js"></script>
<script>
    var app = angular.module("myApp", []);
    app.controller("myCtrl", function ($scope, $http) {
        $http.get("pages/data/students.json").then(function (response) {
            //数据源
            $scope.data = response.data;
            //分页总数

            $scope.items = $scope.data;
            $scope.items1 = $scope.data.slice(0, 3);
            $scope.items2 = $scope.data.slice(3, 6);
            $scope.items3 = $scope.data.slice(6, 11);


            //select all
            $scope.selectAll=false;
            $scope.all= function (m,n) {
                var len =$scope.items[n].length;
             for(var i=0;i<len;i++){
             if(m === true){
             $scope.items[i].state=true;
             }else {
             $scope.items[i].state=false;
             }
             }
             };
        });
    })
</script>
</body>
</html>